<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CadenaConexion" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--  WS ECC Trabajadores -->
    <add key="UserECCSAP" value=""/>
    <add key="PassECCSAP" value=""/>
    <add key="URLECCWSSAP" value=""/>
    <!--  WS HANA Trabajadores -->
    <add key="UserHANASAP" value=""/>
    <add key="PassHANASAP" value=""/>
    <add key="URLHANAWSSAP" value=""/>
    <!--  WS HANA Unidad Organizativa -->
    <add key="UserHANASAPuo" value=""/>
    <add key="PassHANASAPuo" value=""/>
    <add key="URLHANAWSSAPuo" value=""/>
    <add key="SituacionTrabajadorCesado" value=""/>
    <add key="SituacionTrabajadorActivo" value=""/>
    <add key="CodigoSociedadUnimaq" value=""/>
    <add key="CentroCosto50" value=""/>
    <add key="MandanteECC" value=""/>
    <add key="MandanteS4" value=""/>
    <add key="IndECCSAP" value=""/>
    <add key="SociedadesECC" value=""/>
  </appSettings>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpTransportCredentialOnlyBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ConsultaTrabjadoresWS.ConsultaTrabjadoresWS" behaviorConfiguration="ServiceWithMetaData">
        <!--<endpoint name="Default" address="" binding="basicHttpBinding" bindingConfiguration="httpTransportCredentialOnlyBinding" contract="ConsultaTrabjadoresWS.IConsultaTrabajadoresWS" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceWithMetaData">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>